<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.tomgc.quickquiz"
        version     = "0.1" >
		
    <name>QuickQuiz</name>

    <description>
        The test of knowledge and reaction in the ultimate 60 second quiz game.
    </description>

    <author href="http://www.tomgc.com/" email="contact@tomgc.com">
        Tom Carter
    </author>
	

		<platform name="ios">
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="true" />
		<preference name="target-device" value="handset" />
		<preference name="prerendered-icon" value="true" />
		
		<!-- **** Icons **** -->
		<!-- iPhone 6 / 6+ -->
		<icon src="img/icon/icon-60@3x.png" width="180" height="180" />
		<!-- iPhone / iPod Touch  -->
		<icon src="img/icon/icon-60.png" width="60" height="60" />
		<icon src="img/icon/icon-60@2x.png" width="120" height="120" />
		<!-- Settings Icon -->
		<icon src="img/icon/icon-small.png" width="29" height="29" />
		<icon src="img/icon/icon-small@2x.png" width="58" height="58" />
		<!-- Spotlight Icon -->
		<icon src="img/icon/icon-40.png" width="40" height="40" />
		<icon src="img/icon/icon-40@2x.png" width="80" height="80" />
		
		<!-- **** Splash **** -->
		<!-- iPhone and iPod touch -->
		<splash src="img/splash/Default.png" width="320" height="480" />
		<splash src="img/splash/Default@2x.png" width="640" height="960" />
		<!-- iPhone 5 / iPod Touch (5th Generation) -->
		<splash src="img/splash/Default-568h@2x.png" width="640" height="1136" />
		<!-- iPhone 6 -->
		<splash src="img/splash/Default-667h@2x.png" width="750" height="1334" />
		<splash src="img/splash/Default-Portrait-736h@3x.png" width="1242" height="2208" />
		<splash src="img/splash/Default-Landscape-736h@3x.png" width="2208" height="1242" />
	</platform>

	<gap:plugin name="cordova-plugin-shake" source="npm"/>
	
</widget>