<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.tomgc.quickquiz"
        version     = "0.1" >
		
    <name>QuickQuiz</name>

    <description>
        The test of knowledge and reaction in the ultimate 60 second quiz game.
    </description>

    <author href="http://www.tomgc.com/" email="contact@tomgc.com">
        Tom Carter
    </author>
	

	

	<plugin name="cordova-plugin-shake" source="npm" spec="~1" />
	
</widget>